:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px;
  --button-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px 4px;
  --homepage-font: 14px;
  --detailspage-font: 16px;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
